[submodule "pi-controller/lib/rpi-rgb-led-matrix"]
	path = pi-controller/lib/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "pi-controller/lib/libgpiod"]
	path = pi-controller/lib/libgpiod
	url = https://github.com/brgl/libgpiod.git
[submodule "pi-controller/lib/pigpio"]
	path = pi-controller/lib/pigpio
	url = https://github.com/joan2937/pigpio.git
